
<h1>Tech Stacks</h1>
<ul>

    {{#each users.techStacks}}

    <h2><li><a href = "/users/{{user._id}}/techStacks/{{_id}}/resources"> {{title}}</a>{{description}}      {{expertise}}</li></h2>
    <h3><button>UPDATE</button>             <button>DELETE</button></h3>
    {{/each}}
  
</ul>

<h2><a href = '/users/{{users._id}}/new'> Add New Tech Stack</a></h2>

<a href = '/users'>Home</a>