
<h1>Tech Stacks</h1>
<ul>

    {{#each users.techStacks}}

    <h2><li><a href = "/users/{{user._id}}/techStacks/{{_id}}/resources"> {{title}}</a>{{description}}      {{expertise}}</li></h2>

    {{/each}}
  
</ul>

