<section class="hero is-primary is-fullwidth">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">Personal Details EDIT Form</h1>
            <h2 class="subtitle">{{user.userName}} again changed his mind ! </h2>
        </div>
    </div>
</section>

<form action="/users/{{user._id}}?_method=PUT" method="POST">
    <div class="field">
        <label for="userName">User Name :</label>
        <input type="text" name="userName" value = "{{user.userName}}">
    </div>
    <div class="field">
        <label for="email">E-mail :</label>
        <input type="text" name="email" value="{{user.email}}">
    </div>
    <div class="field">
        <label for="Yrs_Of_Exp">Yrs_Of_Exp :</label>
        <input type="text" name="yrs_Of_Exp" value="{{user.yrs_Of_Exp}}">
    </div>

       <button class="button is-primary">UPDATE</button>
   </form>
<nav class="breadcrumb is-large">
<a href = '/users'>Home</a>
</nav>