<h1>TECHNICAL SKILLS - TRACKER</h1>
<h5>TRY ME: In this fast paced IT industry, you need me to manage your skills effectively ! </h5> <br><br>
<table width="1200px" border=1>
<thead>
    <tr>
        <th>
            User Name
        </th>
        <th>
            Email
        </th>
        <th>
            Years of Experience
        </th>
        <th>
            Technical Expertise List
        </th>
        <th>
            Modify User Details
        </th>
        <th>
            Delete User
        </th>
    </tr>
</thead>
{{#each users}}
    <tr>
        <td align=lef>
            {{userName}}
        </td>
        <td align=lef>
            {{email}}
        </td>
        <td align=center>
            {{yrs_Of_Exp}}
        </td>
        <td align=center>
            <a href="/users/{{_id}}">Tech Stack List</a>
        </td>
        <td align=center>
            <a href = '/users/{{_id}}/edit'>UPDATE </a>
        </td>
        <td align=center>
            <form action = '/users/{{_id}}?_method=DELETE' method="POST">
            <input type="submit" value="DELETE">
            </form>
        </td>
    </tr>

{{/each}}

</table>
<br>
<br>
<br>
<a href = 'users/new'>Add New User</a>


 